* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1.8rem;
}

.container {
  width: 50rem; 
  height: 50rem;
  border: 1px solid #000;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.color-container {
  width: 10rem;
  height: 4rem;
  border: 1px solid #000;
}

